* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// .water {
//     background-image: url('/assets/water-block.png');
//     height: 500px;
//     width: 500px;
// }
// img {
//     height: 100%;
//     width: 100%;
// }
.flex {
    display: flex;
}
.mt {
    margin-top: -98px;
}
.wrapper {
    background-image: url(/assets/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    // margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: relative;
    .player {
        position: absolute;
        // width: 30px;
        height: 150px;
        bottom: 10px;
        left: 43%;
    }
}
.container {
    // height: 100vh;
    position: relative;
}