* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// .water {
//     background-image: url('/assets/water-block.png');
//     height: 500px;
//     width: 500px;
// }
// img {
//     height: 100%;
//     width: 100%;
// }
.flex {
    display: flex;
}
.mt {
    margin-top: -98px;
}
.wrapper {
    background-image: url(/assets/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    // margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: relative;
    .player {
        position: absolute;
        // width: 30px;
        height: 150px;
        bottom: 10px;
        left: 43%;
    }
}
.container {
    height: 581px;
    position: relative;
    width: 505px;
}

.c-block {
    position: absolute;
}
.c-block[data-row="0"] {
    top: calc(0*83px);
}
.c-block[data-row="1"] {
    top: calc(1*83px);
}
.c-block[data-row="2"] {
    top: calc(2*83px);
}
.c-block[data-row="3"] {
    top: calc(3*83px);
}
.c-block[data-row="4"] {
    top: calc(4*83px);
}
.c-block[data-row="5"] {
    top: calc(5*83px);
}
.c-block[data-col="0"] {
    left: calc(0 * 101px);
}
.c-block[data-col="1"] {
    left: calc(1 * 101px);
}
.c-block[data-col="2"] {
    left: calc(2 * 101px);
}
.c-block[data-col="3"] {
    left: calc(3 * 101px);
}
.c-block[data-col="4"] {
    left: calc(4 * 101px);
}
.c-block[data-player-active="no"] {
    display: none;
}